body{
    background-color: #051D3B ;
    margin: 20px;
    padding-right: 30px;
    padding-left: 30px;
    font-family: 'Inter', sans-serif;
}
/* --------------------grid-container----------------*/
.item{grid-area: header;}
.item1{grid-area: menu;}
.item2{grid-area: main;}
.item3{grid-area: right;}
.item4{grid-area: footer;}
.grid-container{
    display:grid;
    grid-template-columns: 25% 14% 16% 14% 25%;
    grid-template-areas: 
    'header header header header header'
    'menu main main main right'
    'footer footer footer footer footer';
    grid-gap: 25px;
    padding-top: 20px;
}
.grid-container > div {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  /*----------------------------------------------------------------*/
  /* ------------------------ grid-header -----------------------*/
.flex-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profile-link{
    display: flex;
    align-items: center;
    padding-right: 25px;
    gap: 10px;
    /*-- font*/
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
}
.img-user-style{
	width: 45px;
	height: 45px;
	border-radius: 100%;
}
.input-style{
    width: 45%;
    height: 56px;
    margin-left: 25px;
    padding-left: 25px;
    background: rgba(255, 255, 255, 0.16);
    border-radius: 8px;
    /*------font*/
    text-decoration: none;
    font-size: 16px;
    border: none;
    outline: none;
    color: #FFFFFF;
    
}
  /*-----------------grid-menu------------------------------------------------*/
  .menu-style{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;

  }
  .sidebar-title{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .menu-link{
    display: flex;
    align-items: center;
    gap: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
    
  }

  /*-----------------grid-main------------------------------------------------*/
  .code-editor-style-border{
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 390px;
    border-radius:8px;
    background: #6BD1FF;
}
  .code-editor-style{  
      position: relative; 
      top: 45px;
      width: 85%;
      height: 302px;
      margin: 0 auto;
      border-radius:8px;
      background-color:#141414;  
      box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.30);

  }
  .textarea-style{
    position: relative;
    top: 25px;
    width: 90%;
    height: 234px;
    border-radius: 20px;
    background-color: #141414;
    color: #FFFFFF;
    border:none;
    outline: none;
    resize: none;
    /*----font----*/
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: normal;
    text-align: justify;
    font-size: 15px;
    line-height: 18px;
 }
 /*------------Estilo Preview------------*/
 .dots-style{
     display: flex;
     justify-content: flex-start;
     padding: 10px;
     gap: 10px;
 }
 .dot1{
     width: 12px;
     height: 12px;
     background-color: #FF5F56;
     border-radius:100%;
 }
 .dot2{
    width: 12px;
    height: 12px;
    background-color: #FFBD2E;
    border-radius:100%;

}
.dot3{
    width: 12px;
    height: 12px;
    background-color: #27C93F;
    border-radius:100%;
}
/*------------Main Button------------------------------------------------*/

.btn-highlight{
    position: relative;
    left: auto;
    top:  20px;
    width: 100%;
    height: 56px;
    background: #5081FB;
    border-radius:8px;
    border:none;
    outline: none;
    cursor: pointer;
    /*----font----*/    
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;

}
/*------------grid-right-------------*/
.projeto-style{
    width: 90%;
    height: 36px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.16);
    border-radius: 8px;
    /*------font*/
    text-decoration: none;
    font-size: 16px;
    border: none;
    outline: none;
    color: #FFFFFF;
}
.describe-style{
    width: 90%;
    height: 86px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.16);
    border-radius: 8px;
    /*------font*/
    text-decoration: none;
    font-size: 16px;
    border: none;
    outline: none;
    color: #FFFFFF;
}
.box-select{
    width: 100%;
    margin-right: 10px;   
}
.lang-select{
    background: #ffffff29;
    margin-right: 12px;
    color: #FFF;
    width: 95%;
    height: 60px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    outline: none;
}
.selected{
    background-color: #051D3B;
    color: rgb(255, 255, 255);
}
input[type=color] {
    background: transparent;
    width: 95%;
    height: 60px;
    margin-top: 10px;
    margin-right: 5px;
    border-radius: 8px;
}
.btn-save{
    position: relative;
    background: #5081FB;
    width: 95%;
    height: 56px;
    margin-left: 10px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    /*---Font---*/
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.sidepanel{
    display: none;
}
.top-panel{
    display: none;
}
.openbtn{
    display: none;
}
.opensearch{
    display: none;
}

/*-------- Responsivo Tablet -----------*/
@media screen and (max-width: 992px) {
    #profileHidden{
        display: none;
    }
    .grid-container{
        display: flex;
        flex-direction: column;
     }
    .item1{
        display: none;
    }
    .openbtn{
        display: inline;
        font-size: 40px;
        cursor: pointer;
        background-color: transparent;
        color: white;
        padding: 5px 25px;
        border: none;
    }
    .sidepanel  {
        display: block;
        width: 0;
        height: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: #051d3bc4 ;
        overflow-x: hidden;
        transition: 0.3s;
        padding-top: 60px;
      }
      .sidepanel a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 20px;
        transition: 0.3s;
      }
      .sidepanel .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        color: white;
      }
      .projeto-style{
        width: 98%;
        
    }
    .describe-style{
        width: 98%;
    }
    .box-select{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .lang-select{
        width: 50%;
    }input[type=color] {
        background: transparent;
        width: 50%;
        margin-top: 5px;
    }
    .btn-save{
        width: 98%;
        margin-top: 5px;
        margin-left: 5px;
    }
}
/*-------- Responsivo Mobile-----------*/
@media screen and (max-width: 722px) {
    #searchHidden{
        visibility: hidden;
    }
    .opensearch{
        display: inline;
        cursor: pointer;
        background-color: transparent;
        color: white;
        padding: 5px 25px;
        border: none;
      }
      .top-panel  {
        display: block;
        width: 90%;
        height: 0;
        position: absolute;
        z-index: 1;
        top: 0;
        background-color: #051d3be5 ;
        overflow-x: hidden;
        transition: 0.3s;
        padding-top: 60px;
      }
      .top-panel .closesearch {
        position: relative;
        top: 5px;
        left: 250px;
        font-size: 40px;
        color: white;
      }
      .top-panel a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 15px;
        transition: 0.5s;
      }
      .search-style-responsive{
        display: block;
        width: 90%;
        height: 56px;
        margin-top: 50%;
        padding-left: 25px;
        background: rgba(255, 255, 255, 0.685);
        border-radius: 8px;
        /*------font*/
        text-decoration: none;
        font-size: 16px;
        border: none;
        outline: none;
        color: #FFFFFF;
        
    }
}